
@font-face {font-family: "iconfont";
  src: url('./font/iconfont.eot?t=1486521465415'); /* IE9*/
  src: url('./font/iconfont.eot?t=1486521465415#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./font/iconfont.woff?t=1486521465415') format('woff'), /* chrome, firefox */
  url('./font/iconfont.ttf?t=1486521465415') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./font/iconfont.svg?t=1486521465415#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before { content: "\f000d"; }

.icon-weibo:before { content: "\e619"; }

.icon-github:before { content: "\e6cf"; }

.icon-blog:before { content: "\e639"; }

.icon-xing:before { content: "\e65b"; }

.icon-avatarkaobei:before { content: "\e646"; }

