//*****color*****
//页面中用到的颜色统一写到此处

//独立颜色
$blankSide:#10111e;
$blankLine:#212129;
$redSide:#be2150;
$redSideBack:#ed265d;
$whiteSide:#fef1f5;


//基本颜色
$pink: #f7acbc;
$roseate: #f05b72;
$light-red: #d93a49;
$red: #d71345;
$dark-red: #b22c46;
$orange: #f47920;
$yellow: #ffd400;
$dark-yellow: #ffc20e;
$purple: #9b59b6;
$light-blue: #77d5d4;
$blue: #3498db;
$dark-blue: #2980b9;
$green: #2ecc71;
$light-green: #52be7f;
$dark-green: #27ae60;
$brown: #843900;
$sliver: #8492A6;
$light-sliver: #99A9BF;
$light-black: #324057;
$black: #130c0e;
$white: #fffffb;
$light-gray: #E5E9F2;
$gray: #D3DCE6;
$masstone: #798f9a;
$tr: transparent;
$light-default: #c1c1c1;
$default: #95a5a6;
$default2: #333742;
$dark-default: #7f8c8d;
$font-color: #334455;
$font-color1: $default2;
$bg-color: $light-gray;
$bg-color1: #f2f5f9;
$bg-color2: #f0f0f0;
$light-shadow: 0 0 3px 1px rgba(0, 0, 0, .36);
$shadow: 0 0 5px 3px rgba(0, 0, 0, .16);
$dark-shadow: 0 0 5px 3px rgba(0, 0, 0, .16);
